extends base
include mixin/video.pug

block content 
  h2 Welcome here you'll see the trending videos! 
  ul
    each potato in videos 
      +video(potato)
    else 
      li Sorry nothing found. 
  input(placeholder="What's your name?")
  button send 

